
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>gracy machine learning visual system</title>
</head>
<body>

<h1>gracy machine learning visual system</h1>
<h2>django is best web  tool for python</h2>
<h2>{{ hello }}</h2>

<div>

    <h1>
        {% if condition  %}
        <h2> condition is true</h2>
        {% endif %}
    </h1>
</div>
<div>
    {{ div |safe }}
</div>
<div class="item-divider-ios,"  >
    <form id ="hive" method="post" action="/connect">
{% csrf_token %}
    <input placeholder="host" name="host" value="{{host}}">
    <input placeholder="port" name="port" value="{{port}}">
    <input placeholder="user" id="user" name="user" value='{{ user }}'>
    <input placeholder="pwd" id="pwd"  name="pwd" value="{{ pwd }}">
    <button name="" class="btn btn-primary" type="submit">connect hive </button>
         </form>
</div>

</body>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <!-- The order of CSS and JS imports above is important. -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">


    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.15.min.css" type="text/css" />
    <link href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.15.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-tables-0.12.15.min.css" type="text/css">
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.15.min.js"></script>
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-api-0.12.15.min.js"></script>
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.15.min.js"></script>
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-tables-0.12.15.min.js"></script>
       {{ script |safe }}

</html>